@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand */
  --brand-primary: #000091;
  --brand-secondary: #ffffff;
  --brand-tertiary: #ff6400;
  --brand-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
